  #index {
    display:inherit;
    height: 100vh;
    background-color: #f39f86;
    background-image: linear-gradient(315deg, #f39f86 0%, #f9d976 74%);
    font-family: "Open Sans", sans-serif;
  }
 
  .p_index{
    font-size: 22px;
    text-align: center;
    font-weight: bold;
  }

  .title_index{
    text-align: center;
    color: brown;
    font-size: 48px;
  }

  .p2_index{
    font-size: 22px;
    font-weight: bold;
    text-align: center;
  }
  .list_index{
    font-size: 22px;
    font-weight: bold;
    text-align: center;
  }

  .list{
    font-weight: bold;
    text-align: center;
  }
