  #encounter {
    display:inherit;
    height: 100vh;
    font-family: "Open Sans", sans-serif;
    background-image: url("source/background_scroll.jpg");
  }
 
  .p_encounter{
    font-size: 22px;
    text-align: center;
    font-weight: bold;
  }

  .header_encounter{
    text-align: center;
    color: brown;
    font-size: 48px;
  }

  .caption_encounter{
    font-weight:lighter;
    text-align: center;
  }
  .list_encounter{
    font-size: 22px;
    font-weight: bold;
    text-align: center;
  }

  .list{
    font-weight: bold;
    text-align: center;
  }
  .encounter_img{
      text-align: center;
  }
